RCLONE_CONFIG_OFFBOX_TYPE=s3
RCLONE_CONFIG_OFFBOX_PROVIDER=Cloudflare
RCLONE_CONFIG_OFFBOX_ACCESS_KEY_ID=changeme
RCLONE_CONFIG_OFFBOX_SECRET_ACCESS_KEY=changeme
RCLONE_CONFIG_OFFBOX_ENDPOINT=https://example.r2.cloudflarestorage.com
